/* vinculado a GIT y GITHUB
/* Quitandole el margen al body completo */
body {
    margin: 0;
    
    /* Aplicando color de fondo de la página (no al encabezado) */
    background-color: #F5EDFF;

}

/* con el #, se da conexión dentro del codigo html, en este caso en el nav id="menu", dicho contenedor almacena las listas */
#menu a {

    /* Quitando las decoraciones del texto, en este caso, al ser hipervinculo <a>, les quita el subrayado */
    text-decoration: none;

    /* separando en 50 pixeles los textos entre si, dentro de la lista */
    padding:  50px; 
    
    /* aplicando la fuente Effra */
    font-family: "Effra", sans-serif;

    /* Tamaño de la fuente */
    font-size: 20px;

    /* Aplicando negrita a la fuente */
    font-weight: 800;   

    /* Color de texto negro */
    color: black;    
}



/* Modificando el header del codigo html */
header {   

    /*  Ordenando todo horizontalmente, sin el display flex, el texto se encontraría abajo del logo */
    display: flex;
    
    /* Aplicando una altura del header de 80 pixeles */
    height: 80px;

    /* Color de fondo del Header */
    background: #FFFFFF;

    /* Centrando los items del header */
    align-items: center;
    
    /*Ajustando la anchura al 100% de la pantalla*/
    width: 100%;

    /* posicionando fijamente la cabecera de la página*/
    position: fixed;

    /*Con esto, la barra se muestra por encima de todas las imágenes de la página.*/
    z-index: 100;
    

}



/* Modificando el logo de la página, en este caso comienza en . debido a que es class ="logo" */
.logo img {
    /* Aplicando un margen de 160 px en el lado izquierdo, para que la imagen se desplace a la derecha. */
    margin-left: 160px;

    margin-right: 400px;
}



/* Modificando las tablas desordenadas, en este caso es id="menu", debido a que comienza con un # */
#menu ul {
    /* Eliminando los puntos de la lista desordenada */
    list-style: none;
  
}



#menu ul li {
    /* Ordenando la lista horizontalmente hacia la izquierda */
    float: left;     
}



/* Al pasar el cursos encima de nuestro header, concretamente en tiendas, panoramas y ubicacion, este cambiara al color puesto abajo */
#menu a:hover{
    color: #948AC4;
}



/*Al pasar el cursor encima de nuestro header, concretamente en tiendas, panoramas y ubicacion, este hará un pequeño efecto zoom */
#menu ul li:hover{

    /*Aumentando el tamaño del zoom */
    transform: scale(1.2);

    /* Modificando el tiempo que demorará en hacer zoom completo */
    transition: width 2s, height 2s, transform 1s;      
}



/* modificando el nav="menu" completo */
#menu {
    /* asignandole un ancho */
    width: 1611.44px;

    /* asignandole respectiva altura */
    height: 50px;

    /* color de fondo */
    background-color: #FFFFFF;

    color: black;
}



/* Modificando la imagen dentro de la lista, en este caso las imagenes a un lado de Tiendas, Panoramas y Ubicación */
#menu ul li img{

    /* Otorgando margen hacia la derecha*/
    margin-right: 30px;

    /* alineando el texto de la imagen en el centro.*/
    vertical-align: middle;   
}

/* Configurando los sliders de la página */

.slider {
    /* Ajustando ancho y alto  */
    width: 1904px;
    height: 803.812px;

    /* Con esto, las imágenes comienzan en todo el box ocupado por el slider */
    position: relative;

    /* con esto quitamos los puntos negros del estilo de la lista */
    list-style: none;

    /* ajustamos los clickeables para que se apeguen al margen del slider */
    padding: 0;

    /* poner los radio button en linea */
    display: flex;

    /*Justificar el radio button al centro */
    justify-content: center;
    /* Configurar el radio button en la parte de abajo. */
    align-items: flex-end;

    /* Apegando al header con el body slider. */
    margin-top: 0;

    /*Al momento de pasar el cursor por el slider, se convertirá en manito*/
    cursor: pointer;
}


/* Configurando las imágenes del slider */
.slider img {

    /* Con esto, las imágenes se montan unas con otras */
    position: absolute;

    /* Con top 0 y left 0, se montan perfectamente unas con otras */
    top: 0;
    left: 0;

    /* Con la altura y ancho al 100%, ocupa el total del espacio asignado al slider */
    width: 100%;
    height: 100%;

    /*Con la opacidad en 0, hacemos que las imágenes aparezcan solo cuando nosotros demos click. */
    opacity: 0;

    /* Aplicando efecto de transicion al cambiar de imágen manualmente. */
    transition: all 0.9s;
}

/* configurando los input del slider */
.slider input[type="radio"] {

    /* deshabilitamos visualmente los radio button para dar paso a los label button.*/
    display: none;
}

/* Aquí comenzamos con la configuración del input, para que cuando presionemos alguno de los 3, se muestre la imagen solicitada. */
/* El ~ significa que al tener un input activado, se utilizará la etiqueta img */
.slider input[type="radio"]:checked ~ img{

    /* al activar el input, la opacidad volverá a estar en 1, por lo que se procederá a mostrar la imagen */
    opacity: 1;
}

/* Comenzamos a configurar los labels, para generar nuestros propios radio button. */
.slider input[type="radio"] + label {

    /* Al configurar la posicion en relative y el z-index en 50, permitimos que los label button se encuentren por encima de las imágenes, por lo que podemos seleccionarlos. */
    position: relative;
    z-index: 50;

    /* Separacion entre los label button */
    margin: 6px;

    /*Esta es la configuración de los labels*/
    display: block;

    /* Ancho y alto del label*/
    width: 6px;
    height: 6px;

    /*Color del label sin seleccionarlo*/
    background: #ddd7e5;

    /*poniendo el label en circulo */
    border-radius: 50%;

    /*Al momento de pasar el cursor por el slider, se convertirá en manito*/
    cursor: pointer;
}

/*Una vez seleccionemos una imagen, el checked será de color negro*/
.slider input[type="radio"]:checked + label {
    background: black;
}

/* Configurando segundo bloque, bajo el slider denominado "tiendas"*/

/* Configurando clase tiendas, que vendría siendo la totalidad del bloque */
.tiendas {
    
    /*Dando el tamaño del box (bloque completo que abarcará */
    width: 1904px;
    height: 390px;
    padding: 20px;

    /*Aplicando color de fondo al box o bloque */
    background: #F5EDFF;

    /* Margen superior, separación con el slider */
    margin-top: 20px;
}

/* Configurando el título h1 "Tiendas" */
.tiendas h1 {

    /*Aplicando margen izquierdo */
    margin-left: 30px;

    /*Tipo de letra y tamaño de letra */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

/* Configurando las imágenes de las tablas */
.tiendas table tr img {

    /* altura y ancho de la imágen */
    height: 280px;
    width: 450.75px;

    

    /* Transicion para la imagen */
    transition: 1s ease-in-out;
    
}

/* Modificando el espacio entre las tablas */
.tiendas table {
    border-spacing: 14px;
}

/*Efecto de zoom y cambio de tamaño a las imágenes de la tabla */
.tiendas img:hover{

    /* Efecto de zoom para las imágenes, el scale es la cantidad de zoom */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    /* Oscureciendo la imágen cuando el cursor esté encima */
    filter: brightness(60%);
         
    /*Al momento de pasar el cursor por el slider, se convertirá en manito*/
    cursor: pointer;
}

/* Configurando las separaciones de la tabla */
.tiendas table tr th {
    
    /* Ocultar que la imagen salga del box. */
    overflow: hidden;
}

/* Configurando clase panoramas, que vendría siendo la totalidad del bloque */
.panoramas {

    /*Dando el tamaño del box (bloque completo que abarcará */
    width: 1903px;
    height: 670px;
    padding: 20px 20px 20px 20px;   
}

/*Configurando el titulo "panoramas" */
.panoramas h1 {

    /*Aplicando margen izquierdo */
    margin-left: 30px;
    
     /*Tipo de letra y tamaño de letra */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    
}

/* Configurando las imágenes de las tablas */
.panoramas table  img {

    /* altura y ancho de la imágen */
    height: 280px;
    width: 460.75px;

    /* Transicion para la imagen */
    transition: 1s ease-in-out;
}

.panoramas table img:hover {
    /* Efecto de zoom para las imágenes, el scale es la cantidad de zoom */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    /* Oscureciendo la imágen cuando el cursor esté encima */
    filter: brightness(60%);
         
    /*Al momento de pasar el cursor por el slider, se convertirá en manito*/
    cursor: pointer;
}

/* Modificando la primera fila de la tabla */
.panoramas table tr th {
    /* Prohibiendo que la imágen se expanda más que el tamaño del recuadro */
    overflow: hidden;
}

/* Modificando la segunda fila de la tabla */
.panoramas table tr td {

    /* Prohibiendo que la imágen se expanda más que el tamaño del recuadro */
    overflow: hidden;
}

/* Modificando el espacio entre las tablas */
.panoramas table {
    border-spacing: 8px;
}

/* Configurando clase ubicacion, que vendría siendo la totalidad del bloque */
.ubicacion {

    /*Dando el tamaño del box (bloque completo que abarcará */
    height: 978.562px;
    width: 1903px;
    padding: 20px 20px 20px 20px;
}

/*Configurando el titulo "ubicación de las tiendas" */
.ubicacion h1 {

    /*Aplicando margen izquierdo */
    margin-left: 30px;
    
     /*Tipo de letra y tamaño de letra */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

/*Configurando el titulo "locomoción"*/
.locomocion {

    /*Dando el tamaño del box (bloque completo que abarcará */
    height: 65px;
    width: 1903px;


   /*Color de fondo del box*/ 
    background-color: #3A328A;
    
    /*ajustado el texto de locomoción en el pie del box*/
    vertical-align: bottom;

    /*mostrando el texto tipo celda de una tabla*/
    display: table-cell;
}

/*Configurando el titulo "locomoción"*/
.locomocion h1 {
    /*Color de texto*/
    color: white;

    /*Tipo de letra y tamaño de letra */
    font-family: "Roboto", sans-serif;
    font-size: 25px;

    /*alineando el texto hacia el centro */
    text-align: center;  
}

/* Ajustando el bloque de locomoción, donde se encontrarán las imágenes con la información de las locomociones*/
.locomocionbox {
    /*Dando el tamaño del box (bloque completo que abarcará */
    height: 172.156px;
    width: 1903px;
    padding: 0 0 20px 0;

    /*Color de fondo del box*/ 
    background-color: #3A328A;
}

/* Ajustando la altura y anchura de las imágenes de locomoción*/
.locomocionbox table tr th img {
    height: 118.484px;
    width: 455.75px;
}

/*Centrando las imágenes de locomoción*/
.locomocionbox table {
    margin-left: auto;
    margin-right: auto;
}

/* Ajustando el bloque de datos, donde incluye dirección, horario y contacto*/
.datos {
   
    /*Ajustando el color de fondo del box*/
    background-color: #3A328A;

    /* Medidas del bloque (altura y anchura) */
    height: 270.625px;
    width: 1903px;
}

.datos table  {

    /*Centrando la tabla de contenido datos.*/
    margin-left: auto;
    margin-right: auto;
    
}
/*Ajustando el box de la fila "direccion"*/
.datos table tr #direccion {

    /*Ajustando medidas*/
    height: 250.625px;
    width: 550.891px;
  
}

/*Configurando subtitulo dirección h2*/
.datos table tr #direccion h2 {
    
    /*Ajustando la fuente del texto*/
    font-family: "Effra", sans-serif;

    /*Ajustando y alineando el tamaño y lugar del texto*/
    font-size: 20px;
    text-align: center;

    /*Ajustando texto del subtitulo dirección*/
    color: white;
}

/*Configurando subtitulo dirección h3*/
.datos table tr #direccion h3 {

    /*Asignandole tipo de fuente*/
    font-family: "Roboto", sans-serif;

    /*Asignando tamaño de fuente*/
    font-size: 14px;

    /*Asignando el texto hacia el lado izquierdo del box*/
    text-align: left;
    
    /* Cursor de manito*/
    cursor: pointer;
}

/*Modificando el enlace <a> que se encuentra dentro del subtitulo h3*/
.datos table tr #direccion h3 a {

    /*Quitando el formato de enlace*/
    text-decoration: none;

    /*Otorgandole color blanco*/
    color: white;

    /*Quitandole la negrita al texto*/
    font-weight: lighter;
}

/*Ajustando la imágen (icono) del apartado dirección*/
.datos table tr #direccion h3 a img {

    /*Alineandolo verticalmente para que se complemente con el texto "Camino internacional ..."*/
    vertical-align: middle;
}

/*Configurando el mapa de google*/
.datos table tr #direccion iframe {

    /*Ajustando tamaño del mapa de google*/
    height: 90px;
    width: 550.891px;
    max-width: 100%;
}

/* Ajustando las medidas del box de horarios*/
.datos table tr #horario {

     /*Ajustando medidas*/
     height: 250.625px;
     width: 550.891px;
}

/* Ajustando el titulo h2 "HORARIO"*/
.datos table tr #horario h2 {

    /*Ajustando la fuente del texto*/
    font-family: "Effra", sans-serif;

    /*Ajustando y alineando el tamaño y lugar del texto*/
    font-size: 20px;
    text-align: center;

    /*Ajustando texto del subtitulo dirección*/
    color: white;
}

/*Configurando las listas desordenadas*/
.datos table tr #horario h3 {

    /*Ajustando el color del texto*/
    color: white;

    /*Alineando el texto hacia la izquierda*/ 
    text-align: left;

    /*Ajustando la fuente y tamaño del texto*/
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    margin-left: 90px;
}

/*Quitando la letra negrita de las ids ul1 y sin-punto1, a aquellas les asigne esas ids para modificarlas todas de una, además de quitarle los puntos de la unorder list.*/
.datos table tr #horario h3 #ul1 #sin-punto1 {

    /*Quitandole la negrita al texto*/
    font-weight: lighter;
    list-style: none;
}

/*Ajustando el interlineado de los textos de las tablas*/ 
.datos table tr #horario h3 #ul1 {

    line-height: 25px;
}

/*Ajustando las medidas del box contacto*/
.datos table tr #contacto {
    
    /*Ajustando medidas*/
    height: 250.625px;
    width: 550.891px;
}

/* Ajustando el titulo h2 "contacto"*/
.datos table tr #contacto h2 {

    /*Ajustando la fuente del texto*/
    font-family: "Effra", sans-serif;

    /*Ajustando y alineando el tamaño y lugar del texto*/
    font-size: 20px;
    text-align: center;

    /*Ajustando texto del subtitulo dirección*/
    color: white;
}

/*Configurando las listas desordenadas*/
.datos table tr #contacto h3 {

    /*Ajustando el color del texto*/
    color: white;

    /*Alineando el texto hacia la izquierda*/ 
    text-align: left;

    /*Ajustando la fuente y tamaño del texto*/
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    margin-left: 90px;
}

/*Modificando el enlace <a> que se encuentra dentro del subtitulo h3*/
.datos table tr #contacto h3 ul li a {

    /*Quitando el formato de enlace*/
    text-decoration: none;

    /*Otorgandole color blanco*/
    color: white;

    /*Quitandole la negrita al texto*/
    font-weight: lighter;
}

/*Ajustando la imágen (icono) del apartado contacto*/
.datos table tr #contacto h3 ul li a img {

    /*Ajustando imágenes dentro del enlace <a> al centro, para que se acomode junto a los textos*/
    vertical-align: middle;
}

/*Ajustando interlineado de la lista*/
.datos table tr #contacto h3 ul {
    line-height: 25px;
}

/*Eliminando los puntos de las listas desordenadas (ul)*/
.datos table tr #contacto h3 ul li {

    list-style: none;
}

/*Ajustando iconos RRSS para que queden a la par del texto superior*/
.datos table tr #contacto h3 table {
    margin-left: 40px;
}


/*Configurando el footer de la página*/
footer p {
    /*Tipo de fuente*/
    font-family: "Roboto", sans-serif;

    /*Tamaño de fuente*/
    font-size: 14px;

    /*Aplicando negrita*/
    font-weight: 700;

    /*Alineando el texto al centro*/
    text-align: center;

    /*Color de texto*/
    color: white;

    /*Color de fondo del box*/
    background-color: #3A328A;

    /*Alto del footer*/
    height: 55.1875px;

    /*Ancho del footer*/
    width: 1903px;

    /*Ajustando el footer con el body*/
    margin-top: auto;

    /*Ajustando el footer para que no tenga margen hacia abajo*/
    margin-bottom: 0;
}


footer a {
    /*Quitando el efecto enlace a la palabra WORKLab en el footer*/
    text-decoration: none;

    /*Aplicando color blanco*/
    color: white;
}

